.container{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    border-radius: 1rem;
    border: 1px dashed #ddd;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #fff;
    
}

.container img{
    margin-bottom: 1rem;
    width:230px;
    height: 230px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
.container h3{
    color: rgb(238, 39, 39);
    margin-bottom: 1rem;
}
.container p{
    color: #333;
    margin-bottom: 1.2rem;
  
}
.action{
    display: flex;
    align-items: center;
    gap: 7rem;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.action a{
    font-size: 1.5rem;
    height: 25px;
    color: red;
    cursor: pointer;
}
.action button{
    font-size: 1.5rem;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
